[Container]
Image=docker.io/fractiunate/nginx-idle
ContainerName=nidle
Network=mynet.network
Label="traefik.enable=true"
Label="traefik.http.routers.myapp.rule=Host(`hetzner1.fractiunate.me`)"