[Container]
Image=docker.io/traefik/whoami
ContainerName=whoami
Network=mynet.network
Label="traefik.enable=true"
Label="traefik.http.routers.myapp.rule=Host(`hetzner1.fractiunate.me`)"